---
interface Book {
  title: string;
  author: string;
  subtitle: string;
}

const { book } = Astro.props;
---

<a href={`/${book.id}`}>
    <div>
      <h2>{book.data.title}</h2>
      <p>{book.data.author}</p>
      <p>{book.data.subtitle}</p>
    </div>
</a>

