---
import BaseHead from "@components/BaseHead.astro"
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

---
<html lang="en">
	<head>
		<BaseHead title="Spaartechnologie" description="Een blog over bitcoin en vrijheid." />
	</head>

	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
